* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #f5f7fa;
    font-family: Montserrat;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
    padding-top: 40px;

}
.wrapper {
    background-color: #ffffff ;
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
    
}
.sidebar {
    background-color:#1e2939 ;
    width: 370px;
    padding-top: 40px;
    padding-bottom: 40px;
    

    
}
.my-photo {
    width: 370px;
}
.about-me-container {
    max-width: 100%;
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 110px;
    padding-bottom: 110px;
    }
.contacts-container {
    margin-top: 60px;
    margin-left: 40px;
    margin-right: 40px;}
    
.contacts-title {
    color: #ffffff;
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 20px;
    }
.contacts-link {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color:#434b58;
} 
.contacts-link-type {   
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    color: #ffffff;
    margin-right: 10px;}

.tech-skills-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 20px;
    color: #ffffff;}    

.Tech-skills-container {
    margin-right: 40px;
    margin-left: 40px;
    margin-top: 55px;
}    
.tech-skills-item {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #ff6b08;
    margin-left: 15px;

}
.tech-skills-text {
    color:#a7acb2 ;
}
.Soft-skills-container {
    margin-right: 40px;
    margin-left: 40px;
    margin-top: 55px;
}

.soft-skills-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 20px;
    color: #ffffff;
}    
   
.soft-skills-item {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #ff6b08;
    margin-left: 15px;
}
.soft-skills-text {
        color:#a7acb2 ;
}    
.position {
    color: #060606;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 23px;
   
}
.name {
    
    font-size: 45px;
    font-weight: 700;
    line-height: 89px;
    }
 
.about-me-text {
    color: #626262;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    width: 413px;
}
.about-me-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 10px;
}
.project-item {
    
    font-weight: 700;
    margin-left: 17px;
    
    }
.tech-name {
font-size: 14px;
font-weight: 400;
line-height: 24px;
color: #a3a3a3;
}
.dots {
    color: #d3d3d3;  
}

.project-link {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #6d6d6d;
    margin-left: 3px;
    margin-bottom: 55px;
}

.projects-container {
    margin-bottom: 55px;
    
}
.projects-title {
    width: 93px;
height: 21px;
color: #000000;
font-family: Montserrat;
font-size: 22px;
font-weight: 700;
line-height: 24px;
margin-top: 40px;
}
.experience-title {
    -size: 22px;
    font-weight: 700;
    line-height: 24px;    
    font-size: 22px;
    margin-bottom: 10px;
    margin-left: 1px;
    margin-right: 77px;
    margin-top: 55px;
}
.postion-title {
    font-size: 16px;
    font-weight: 700;
    height: 24px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.postion-title-comment {
    color: #ff6b08;
}
.experience-date {
    color: #a8a8a8;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 14px;  
}
.profession-divider{
    width: 1px;
    height: 14px;
    color: #000000;
    font-weight: 700
}
.profession-duties  {
    margin-top: 14px;
    margin-bottom: 30px;
}
.specialization {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
}
.experience-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #595959;
}
.info-container {
    margin-bottom: 65px;
}